<template>
	<view>
		<uni-nav-bar shadow left-icon="left" right-icon="cart" title="标题" />
		<button @click="clickMe">点我 我在顶部</button>
		<button @click="clickMe1">点我 我在中间</button>
		<button @click="clickMe2">点我 我在底部</button>
		<button @click="clickBack">点我 返回上一页</button>
		<button @click="clickLoading">点我 显示loging</button>
		<text>{{text}}</text>
		<uni-card style="height: 100px;border-radius: 0.5rem;"></uni-card>

		<!-- 行布局 -->
		<uni-row>
			<uni-col :span="8">
				<view>我是神仙</view>
			</uni-col>
			<uni-col :span="8">
				<view>你是神兽</view>
			</uni-col>
			<uni-col :span="8">
				<view>她是什么呢</view>
			</uni-col>
		</uni-row>

		<button @click="open">打开弹窗 居中</button>
		<uni-popup ref="popup" type="center" :animation="false">
			<uni-card style="height: 100px;border-radius: 0.5rem;">中间弹出 Popup</uni-card>

		</uni-popup>

		<button @click="open1">打开弹窗 确认框</button>
		<uni-popup ref="popup1" type="dialog">
			<uni-popup-dialog type="info" message="成功消息" content="确定要删除?" :duration="2000" :before-close="true"
				@close="close" @confirm="confirm">
			</uni-popup-dialog>
		</uni-popup>

		<view class="charts-box">
			<qiun-data-charts type="line" :opts="opts" :chartData="chartData" />
		</view>
		
		<uni-grid :column="3">
			<uni-grid-item>
				<text class="text">文本1</text>
			</uni-grid-item>
			<uni-grid-item>
				<text class="text">文本2</text>
			</uni-grid-item>
			<uni-grid-item>
				<text class="text">文本3</text>
			</uni-grid-item>
		</uni-grid>

	</view>

</template>

<script>
	import {
		hideLoading,
		showLoading
	} from '../../common/loading';
	import {
		toastBottom,
		toastCenter,
		toastTop
	} from '../../common/toast'

	export default {
		onLoad: function(option) {
			toastCenter("传递过来的参数 " + " id " + option.id + " name " + option.name, )
			this.getUchartsData();
		},
		data() {
			return {
				text: '我是天上的小神仙  地上的小神兽',
				chartData: {},
				opts: {
					color: ['#685efb', '#c6bef0'],
					dataLabel: false,
					legend: {
						show: false,
					},
					xAxis: {
						disableGrid: true,
						fontColor: '#000000'
					},
					yAxis: {
						gridType: 'dash',
						dashLength: 3,
						data: [{
							unit: '°',
							min: 0
						}]
					},
					extra: {
						onShadow: false,
						area: {
							width: 2, //折线的宽度
							type: 'curve', //曲线圆滑模式
							activeType: 'hollow', //空心点模式

						}
					}
				}

			}
		},
		methods: {
			clickMe() {
				toastTop("我在顶部");

			},
			clickMe1() {
				toastCenter("我在中间");

			},
			clickMe2() {
				toastBottom("我在底部");

			},
			clickBack() {
				uni.navigateBack();
			},
			clickLoading() {
				showLoading();
				setTimeout(function() {
					hideLoading();
				}, 2000);
			},
			open() {
				this.$refs.popup.open('center')
			},
			open1() {
				this.$refs.popup1.open('center')
			},
			close() {
				this.$refs.popup1.close();
				toastCenter("取消");
			},
			confirm() {
				this.$refs.popup1.close();
				toastCenter("确定");
			},
			getUchartsData() {
				this.chartData = {
					categories: ["1月", "2月", "3月"],
					series: [{
						data: [{
							"name": "1",
							"value": 0
						}, {
							"name": "2",
							"value": 90
						}, {
							"name": "3",
							"value": 360
						}]
					}],

					/* series: [{
							"name": "今日功率",
							"data": [10,56,90]
						},
						{
							"name": "昨日功率",
							"data": [67,89,12]
						}
					], */
				};

			},


		}
	}
</script>

<style>
	.charts-box {
		width: 100%;
		height: 300px;
	}
</style>